#nav-logo-icon .bg-wrap {
    background-color: rgba(255,255,255,0);
}
#header-textbox-2 .bg-wrap {
    background-color: #ded8d0;
}


#header-textbox-2 .bg {
    background-image: url('../images/bg-62.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}
#desc-text-halfbg .bg-wrap {
    background: #333;
}#panel-logo-menu .bg-wrap {
    background-color: rgba(255,255,255,0.95);
}
#testimonial-carousel-2 .bg-wrap {
    background-color: #ded8d0;
}

#testimonial-carousel-2 .bg {
    background-image: url('../images/bg-58.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.1;
}
#contact-img-map-text .bg-wrap {
    background-color: #F2F0ED;
}