#header-text-8 .bg {
    background-image: url('../images/bg-82.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.75;
}#gallery-3col-carousel .bg-wrap {
    background-color: #f4f5f6;
}
