#header-search-2 .bg {
    background-image: url('../images/bg-pattern-1-primary.png');
    background-repeat: repeat;
    background-position: center;
    background-size: 200px 200px;
    opacity:0.2;
}
#blog-breadcrumb .bg-wrap {
    background-color: #f4f5f6;
}
