#header-text-text .bg {
    background-image: url('../images/bg-29.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity: 0.25;
}#chart-center-chart .bg-wrap {
    background-color: #f4f5f6;
}#benefits-5col-counter .bg {
    background-image: url('../images/bg-19.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.25;
}
#clients-5col .bg-wrap{
    background: #F4F5F6;
}#blog-2col .bg-wrap {
    background-color: #F4F5F6;
}
