
#nav-logo-menu-2 .bg-wrap {
	background: rgba(68, 68, 68, 0);
}#header-text .bg {
    background-image: url('../images/bg-46.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:0.25;
}#sep-center-5 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}#text-3col-3 .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.1;
}
