#header-text-2 .bg {
    background-image: url('../images/bg-42.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    opacity:1;
}#text-4col-3 .bg {
    background-image: url('../images/bg-sign.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    opacity: 0.1;
}
#desc-text-7 .bg {
    background-image: url('../images/bg-32.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.85;
}
#contact-map-text-2 .bg {
	background-image: url('../images/bg-35.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
}