#header-modal-text .bg {
    background-image: url('../images/bg-83.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:1;
}/*
#gallery-fluid-carousel-6 .bg-wrap {
    background-color: #f4f5f6;
}
*/
#desc-img-text-4 .bg-wrap {
    background-color: #F4F5F6;
}
#contact-text-form .bg {
	background-image: url('../images/bg-3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;
	opacity: 0.15;
}