#header-textbox .bg-wrap {
    background-color: #111;
}

#header-textbox .bg {
    background-image: url('../images/bg-71.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.4;
}#sep-center-3 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}#benefits-5col-counter .bg {
    background-image: url('../images/bg-19.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.25;
}
#benefits-2col-9 .bg-wrap {
    background-color: #F2F0ED;
}

#benefits-2col-9 .bg {
    background-image: url(../images/bg-pattern-3-primary.png);
    background-repeat: repeat;
    background-size: 50px auto;
    opacity: 0.25;
}
#media-icon .bg {
    background-image: url('../images/bg-21.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.4;
}#footer-text-2 .bg-wrap {
    background-color: #F4F5F6;
}
