#header-text-img-3 .bg-wrap {
    background-color: #000000;
}

#header-text-img-3 .bg {
    opacity: 0.15;
}
#sep-center-1 .bg-wrap {
    background-color: rgba(255, 255, 255, 0);
}#benefits-3col-3 .bg-wrap {
    background-color: #f4f5f6;
}
#panel-menu-screen .bg-wrap {
    background-color: rgba(0,0,0,0.8);
}
